server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/oms?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: Pava1@123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect  # FIXED HERE

  kafka:
    bootstrap-servers: localhost:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      retries: 3
      acks: all
      properties:
        linger.ms: 10
        request.timeout.ms: 5000

    consumer:
      group-id: oms-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

    listener:
      ack-mode: record

logging:
  level:
    root: INFO
    com.ecommerce.oms: DEBUG
